<mat-card class="mat-elevation-z8" style="max-width:300px; margin: auto">
  <mat-card-content>
    <h3>Login</h3>
    <hr>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" (click)="login()">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
