<mat-card class="mat-elevation-z8">

  <h3>Update Employee</h3>
  <hr>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>



    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Salary</mat-label>
      <input matInput formControlName="salary" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let _gender of gender" [value]="_gender">
          {{_gender | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" (click)="updateEmployee()">Update</button>
    </div>


  </form>
</mat-card>
